.snack-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form-field {
    margin-bottom: 1rem;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input[type="text"],
input[type="number"] {
    padding: 0.5rem;
    width: 200px;
    /* Adjust width as needed */
}

.submit-button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.error-message {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.2rem;
}